.light-zoom{
    position: relative;
    overflow: hidden;
    touch-action: none;
}

.light-zoom img:not(.light-zoom-image){
    display: block;
    max-width: 100%;
}

.light-zoom-image{
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    display: none !important; /*Oh, I had to use !important for fix styles, defined in other libs*/
    width: auto !important;
}

.light-zoom:hover .light-zoom-image{
    display: block !important;
    cursor: move;
    touch-action: none;
}

.light-zoom:hover .light-zoom-image-hidden{
    display: none !important;
}